@page "/services/date"
@model zad3.Pages.dateModel
@{
    string title = Model.Title;
    string value = Model.StringValue;
}
<html>
    <head>
        <title>@title</title>
    </head>
    <body>@value</body>
</html>